.menu {
  position: relative;

  .menu_item {
    height: 58px;
    box-sizing: border-box;
    margin: 0 20px;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    transition: border 0.3s, color 0.3s;
  }

  .menu_item:hover {
    color: var(--color);
    border-bottom: 2px solid var(--color);
  }

  .menu_item_active {
    color: var(--color);
    border-bottom: 2px solid var(--color);
  }

  .menu_item_disabled {
    color: var(--disabled-color);
    border-bottom: none;
    cursor: auto;
  }

  .menu_item_disabled:hover {
    color: var(--disabled-color);
    border-bottom: none;
  }
 

  .menu_list_box {
    margin: 10px 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;

    .menu_list_item {
      height: 50px;
      width: 100%;
      color: rgba(0, 0, 0, .7);
      font-size: 14px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      // font-weight: bold;
      user-select: none;
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      box-sizing: border-box;
    }

    .menu_list_item:last-child {
      border: none;

    }

    .menu_list_item:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    .menu_list_item_disabled {
      color: var(--disabled-color);
      border-bottom: none;
      cursor: auto;
    }

    .menu_list_item_disabled:hover {
      color: var(--disabled-color);
      border-bottom: none;
    }
  }
}

 