.char_list_box {
  // border: 1px solid var(--border-color);

  border-radius: 6px;
  overflow: hidden;
  // border: 1px solid pink;
  height: calc(100vh - 60px - 80px - 40px - 40px);
  // flex-wrap: wrap;
  .char_list_box_left {
    flex-shrink: 0;
    display: inline-block;
    width: 90px;
    padding: 0 5px;
    padding-top: 5px;
    height: inherit;
    border-right: 1px solid var(--border-color);
    height: inherit;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .char_list_box_left_mobile {
    box-sizing: border-box;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: hidden;
    // flex-shrink: 0;
    display: inline-block;
    // width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    height: 42px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    scrollbar-width: none;
  }
  .char_list_box_left_mobile::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  .char_list_box_right {
    // border: 1px solid red;
    height: inherit;
    width: 100%;
  }
  .char_list_box_right_mobile {
    flex-shrink: 0;
    // border: 1px solid pink;
    width: 100%;
    flex: 1;
    height: calc(100vh - 60px - 80px - 40px - 40px - 42px);
  }
}

.char_label {
  display: flex;
  // justify-content: flex-start;
  justify-content: center;
  align-items: center;
  width: 30px;
  .char_label_main {
    font-size: 18px;
  }
  .char_label_extra {
    font-size: 12px;
    color: #999;
    margin-left: 5px;
  }
}

.char_box {
  border-bottom: 1px solid var(--border-color);
  // padding-bottom: 20px;
  margin-bottom: 20px;

  &:last-child {
    border: none;
    margin: 0;
    // padding: 0;
  }
  .toggle_text {
    .animated_text {
      overflow: hidden;
      transition: height 0.3s ease;
    }

    // .expand {
    // }

    // .collapse {
    //   height: 0;
    // }

    .operate {
      font-size: 18px;
      cursor: pointer;
      margin-left: 10px;
      position: relative;
      top: 5px;
    }
  }
}
.char_info {
  // margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333;
  flex-wrap: nowrap;

  .dialect_box {
    width: 90px;

    .dialect {
      max-width: 70px;
      box-sizing: border-box;
      font-size: 14px;
      display: inline-block;
      border: 1px solid var(--border-color);
      border-radius: 2px;
      margin-right: 5px;
      padding: 2px 4px;
      border-radius: 4px;
      text-align: center;
    }
  }

  // .phonetic_box {
  //   flex-grow: 1; /* 让 div 占据剩余空间 */
  //   word-break: break-all; /* 强制换行 */
  //   white-space: pre-wrap; /* 保留空白符序列，但是正常地进行换行 */
  //   overflow-wrap: break-word; /* 允许长单词或 URL 地址换行到下一行 */
  //   display: inline-block;
  //   overflow: auto;

  // }
  .info_item {
    flex-grow: 1; /* 让 div 占据剩余空间 */
    word-break: break-all; /* 强制换行 */
    white-space: pre-wrap; /* 保留空白符序列，但是正常地进行换行 */
    overflow-wrap: break-word; /* 允许长单词或 URL 地址换行到下一行 */
    display: inline-block;
    overflow: auto;
    margin-right: 5px;

    // border: 1px solid red;
    .phonetic {
      font-size: 14px;
      // background-color: palegoldenrod;
    }
    .explain {
      font-size: 12px;
      color: #555;
      // background-color: pink;
    }
  }
}
