.index {
  .logo_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
    // border: 1px solid red;
    // background-image: linear-gradient(#F7F9A0, #36BFEE);
    .logo_center_box {
      width: 317px;
      .logo {
        user-select: none;
        width: 100px;
      }
      .logo_text {
        user-select: none;
        height: 100px;
      }

    }
    .input {
      margin-top: 20px;
      width: 80%;
    }
  }
}