
  .logo_box {
    width: 160px;
    // border: 1px solid red;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 60px;
      // border: 1px solid red;
    }
 
  }