.search_bar {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  margin: 10px; 
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  .logo {
    width: 40px;
  }
  .logo_text {
    height: 50px;
  }
}
.search_content {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  margin: 10px; 
  
}