:root {
  /* --color: #36bfef; */
  --color: #3273dc; 
}

body {
  margin: 0;
  background: #f9f9f9;
  /* font-family: "宋体-简", "新宋体" !important;  */
}

.box {
  width: calc(100% - 20px);
  background-color: white;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 8px;
}


#nprogress .bar {
  background: var(--color) !important;
}

/* 全局滚动条样式修改 */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

* {
  scrollbar-width: 10px;
  /* scrollbar-base-color: green;
  scrollbar-track-color: red;
  scrollbar-arrow-color: blue; */
}